/* Réinitialisaton du style des navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: -webkit-linear-gradient(90deg, #427643,#477148,#4b6d4c);
    background: linear-gradient(90deg, #427643,#477148,#4b6d4c);
}

/* Utilisation de grid */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    margin: 75px auto 0px;
    width: 304px;
    border: 2px solid #aed717;
}

.cell {
    border: 2px solid #aed717;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 2rem;
    cursor: pointer;
}

/* Masquage de l'alerte */
.alert {
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Création d'un bouton alerte personnalisée */
#alertButton {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
}