/* Réinitialisaton du style des navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: -webkit-linear-gradient(90deg, #2e672f,#477148,#4b6d4c);
    background: linear-gradient(90deg, #427643,#2e672f,#4b6d4c);
}

h1 {
    text-align: center;
    color: white;
    padding-top: 25px;
}

.intro {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.text {
    font-size: 1.3rem;
    color: white;
    text-align: center; 
}

/* Utilisation de grid */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    margin: 30px auto 0px;
    width: 304px;
    border: 2px solid #aed717;
}

.cell {
    border: 2px solid #aed717;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 2.5rem;
    color: #e1fd50;
    cursor: pointer;
}

/* Masquage de l'alerte */
.alert {
    display: none;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    width: 220px;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
}

#alertMessage {
    margin: 10px;
}

/* Création d'un bouton d'alerte personnalisé */
#alertButton {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.1rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
}

